body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFDF8C;
}

*, *:before, *:after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 45px;

  @media screen and (max-width: 768px) {
    height: 100%;
  }

  @media screen and (max-width: 425px) {
    padding: 20px;
  }
}
